:8080 {
  encode zstd gzip

  route {
    @api path /api/* /healthz /readyz
    @frontend {
      not path /api/* /healthz /readyz /assets/*
    }

    reverse_proxy @api api:8788

    header @frontend Cache-Control "no-store"
    header /assets/* Cache-Control "public, max-age=31536000, immutable"

    root * /srv/frontend
    try_files {path} /index.html
    file_server
  }
}
